################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/-CellularAutomatonZ/v16/Browse.VC.db
